{
  "openapi": "3.0.3",
  "info": {
    "title": "Steam Web API",
    "description": "Official Steam Web API. Get your API key at https://steamcommunity.com/dev/apikey",
    "version": "1.0.0",
    "contact": {
      "name": "Steam",
      "url": "https://store.steampowered.com"
    }
  },
  "servers": [
    {
      "url": "https://api.steampowered.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/IClientStats_1046930/ReportEvent/v1": {
      "post": {
        "operationId": "IClientStats_1046930_ReportEvent",
        "summary": "ReportEvent operation of IClientStats_1046930",
        "tags": [
          "IClientStats_1046930"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ICSGOPlayers_730/GetNextMatchSharingCode/v1": {
      "get": {
        "operationId": "ICSGOPlayers_730_GetNextMatchSharingCode",
        "summary": "GetNextMatchSharingCode operation of ICSGOPlayers_730",
        "tags": [
          "ICSGOPlayers_730"
        ],
        "parameters": [
          {
            "name": "steamid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The SteamID of the user"
          },
          {
            "name": "steamidkey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Authentication obtained from the SteamID"
          },
          {
            "name": "knowncode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Previously known match sharing code obtained from the SteamID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ICSGOServers_730/GetGameMapsPlaytime/v1": {
      "get": {
        "operationId": "ICSGOServers_730_GetGameMapsPlaytime",
        "summary": "GetGameMapsPlaytime operation of ICSGOServers_730",
        "tags": [
          "ICSGOServers_730"
        ],
        "parameters": [
          {
            "name": "interval",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "What recent interval is requested, possible values: day, week, month"
          },
          {
            "name": "gamemode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "What game mode is requested, possible values: competitive, casual"
          },
          {
            "name": "mapgroup",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "What maps are requested, possible values: operation"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ICSGOServers_730/GetGameServersStatus/v1": {
      "get": {
        "operationId": "ICSGOServers_730_GetGameServersStatus",
        "summary": "GetGameServersStatus operation of ICSGOServers_730",
        "tags": [
          "ICSGOServers_730"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ICSGOTournaments_730/GetTournamentFantasyLineup/v1": {
      "get": {
        "operationId": "ICSGOTournaments_730_GetTournamentFantasyLineup",
        "summary": "GetTournamentFantasyLineup operation of ICSGOTournaments_730",
        "tags": [
          "ICSGOTournaments_730"
        ],
        "parameters": [
          {
            "name": "event",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The event ID"
          },
          {
            "name": "steamid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The SteamID of the user inventory"
          },
          {
            "name": "steamidkey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Authentication obtained from the SteamID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ICSGOTournaments_730/GetTournamentItems/v1": {
      "get": {
        "operationId": "ICSGOTournaments_730_GetTournamentItems",
        "summary": "GetTournamentItems operation of ICSGOTournaments_730",
        "tags": [
          "ICSGOTournaments_730"
        ],
        "parameters": [
          {
            "name": "event",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The event ID"
          },
          {
            "name": "steamid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The SteamID of the user inventory"
          },
          {
            "name": "steamidkey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Authentication obtained from the SteamID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ICSGOTournaments_730/GetTournamentLayout/v1": {
      "get": {
        "operationId": "ICSGOTournaments_730_GetTournamentLayout",
        "summary": "GetTournamentLayout operation of ICSGOTournaments_730",
        "tags": [
          "ICSGOTournaments_730"
        ],
        "parameters": [
          {
            "name": "event",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The event ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ICSGOTournaments_730/GetTournamentPredictions/v1": {
      "get": {
        "operationId": "ICSGOTournaments_730_GetTournamentPredictions",
        "summary": "GetTournamentPredictions operation of ICSGOTournaments_730",
        "tags": [
          "ICSGOTournaments_730"
        ],
        "parameters": [
          {
            "name": "event",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The event ID"
          },
          {
            "name": "steamid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The SteamID of the user inventory"
          },
          {
            "name": "steamidkey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Authentication obtained from the SteamID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ICSGOTournaments_730/UploadTournamentFantasyLineup/v1": {
      "post": {
        "operationId": "ICSGOTournaments_730_UploadTournamentFantasyLineup",
        "summary": "UploadTournamentFantasyLineup operation of ICSGOTournaments_730",
        "tags": [
          "ICSGOTournaments_730"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "integer",
                    "description": "The event ID"
                  },
                  "steamid": {
                    "type": "integer",
                    "description": "The SteamID of the user inventory"
                  },
                  "steamidkey": {
                    "type": "string",
                    "description": "Authentication obtained from the SteamID"
                  },
                  "sectionid": {
                    "type": "integer",
                    "description": "Event section id"
                  },
                  "pickid0": {
                    "type": "integer",
                    "description": "PickID to select for the slot"
                  },
                  "itemid0": {
                    "type": "integer",
                    "description": "ItemID to lock in for the pick"
                  },
                  "pickid1": {
                    "type": "integer",
                    "description": "PickID to select for the slot"
                  },
                  "itemid1": {
                    "type": "integer",
                    "description": "ItemID to lock in for the pick"
                  },
                  "pickid2": {
                    "type": "integer",
                    "description": "PickID to select for the slot"
                  },
                  "itemid2": {
                    "type": "integer",
                    "description": "ItemID to lock in for the pick"
                  },
                  "pickid3": {
                    "type": "integer",
                    "description": "PickID to select for the slot"
                  },
                  "itemid3": {
                    "type": "integer",
                    "description": "ItemID to lock in for the pick"
                  },
                  "pickid4": {
                    "type": "integer",
                    "description": "PickID to select for the slot"
                  },
                  "itemid4": {
                    "type": "integer",
                    "description": "ItemID to lock in for the pick"
                  }
                },
                "required": [
                  "event",
                  "steamid",
                  "steamidkey",
                  "sectionid",
                  "pickid0",
                  "itemid0",
                  "pickid1",
                  "itemid1",
                  "pickid2",
                  "itemid2",
                  "pickid3",
                  "itemid3",
                  "pickid4",
                  "itemid4"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ICSGOTournaments_730/UploadTournamentPredictions/v1": {
      "post": {
        "operationId": "ICSGOTournaments_730_UploadTournamentPredictions",
        "summary": "UploadTournamentPredictions operation of ICSGOTournaments_730",
        "tags": [
          "ICSGOTournaments_730"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "type": "integer",
                    "description": "The event ID"
                  },
                  "steamid": {
                    "type": "integer",
                    "description": "The SteamID of the user inventory"
                  },
                  "steamidkey": {
                    "type": "string",
                    "description": "Authentication obtained from the SteamID"
                  },
                  "sectionid": {
                    "type": "integer",
                    "description": "Event section id"
                  },
                  "groupid": {
                    "type": "integer",
                    "description": "Event group id"
                  },
                  "index": {
                    "type": "integer",
                    "description": "Index in group"
                  },
                  "pickid": {
                    "type": "integer",
                    "description": "Pick ID to select"
                  },
                  "itemid": {
                    "type": "integer",
                    "description": "ItemID to lock in for the pick"
                  }
                },
                "required": [
                  "event",
                  "steamid",
                  "steamidkey",
                  "sectionid",
                  "groupid",
                  "index",
                  "pickid",
                  "itemid"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IDOTA2MatchStats_570/GetRealtimeStats/v1": {
      "get": {
        "operationId": "IDOTA2MatchStats_570_GetRealtimeStats",
        "summary": "GetRealtimeStats operation of IDOTA2MatchStats_570",
        "tags": [
          "IDOTA2MatchStats_570"
        ],
        "parameters": [
          {
            "name": "server_steam_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IDOTA2Match_570/GetLiveLeagueGames/v1": {
      "get": {
        "operationId": "IDOTA2Match_570_GetLiveLeagueGames",
        "summary": "GetLiveLeagueGames operation of IDOTA2Match_570",
        "tags": [
          "IDOTA2Match_570"
        ],
        "parameters": [
          {
            "name": "league_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Only show matches of the specified league id"
          },
          {
            "name": "match_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Only show matches of the specified match id"
          },
          {
            "name": "dpc",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Only show matches that are part of the DPC"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IDOTA2Match_570/GetMatchDetails/v1": {
      "get": {
        "operationId": "IDOTA2Match_570_GetMatchDetails",
        "summary": "GetMatchDetails operation of IDOTA2Match_570",
        "tags": [
          "IDOTA2Match_570"
        ],
        "parameters": [
          {
            "name": "match_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Match id"
          },
          {
            "name": "include_persona_names",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Include persona names as part of the response"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IDOTA2Match_570/GetMatchHistory/v1": {
      "get": {
        "operationId": "IDOTA2Match_570_GetMatchHistory",
        "summary": "GetMatchHistory operation of IDOTA2Match_570",
        "tags": [
          "IDOTA2Match_570"
        ],
        "parameters": [
          {
            "name": "hero_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the hero that must be in the matches being queried"
          },
          {
            "name": "game_mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Which game mode to return matches for"
          },
          {
            "name": "skill",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The average skill range of the match, these can be [1-3] with lower numbers being lower skill. Ignored if an account ID is specified"
          },
          {
            "name": "min_players",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Minimum number of human players that must be in a match for it to be returned"
          },
          {
            "name": "account_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "An account ID to get matches from. This will fail if the user has their match history hidden"
          },
          {
            "name": "league_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The league ID to return games from"
          },
          {
            "name": "start_at_match_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The minimum match ID to start from"
          },
          {
            "name": "matches_requested",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The number of requested matches to return (maximum 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IDOTA2Match_570/GetMatchHistoryBySequenceNum/v1": {
      "get": {
        "operationId": "IDOTA2Match_570_GetMatchHistoryBySequenceNum",
        "summary": "GetMatchHistoryBySequenceNum operation of IDOTA2Match_570",
        "tags": [
          "IDOTA2Match_570"
        ],
        "parameters": [
          {
            "name": "start_at_match_seq_num",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "matches_requested",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IDOTA2Match_570/GetTeamInfoByTeamID/v1": {
      "get": {
        "operationId": "IDOTA2Match_570_GetTeamInfoByTeamID",
        "summary": "GetTeamInfoByTeamID operation of IDOTA2Match_570",
        "tags": [
          "IDOTA2Match_570"
        ],
        "parameters": [
          {
            "name": "start_at_team_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "teams_requested",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IDOTA2Match_570/GetTopLiveEventGame/v1": {
      "get": {
        "operationId": "IDOTA2Match_570_GetTopLiveEventGame",
        "summary": "GetTopLiveEventGame operation of IDOTA2Match_570",
        "tags": [
          "IDOTA2Match_570"
        ],
        "parameters": [
          {
            "name": "partner",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Which partner's games to use."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IDOTA2Match_570/GetTopLiveGame/v1": {
      "get": {
        "operationId": "IDOTA2Match_570_GetTopLiveGame",
        "summary": "GetTopLiveGame operation of IDOTA2Match_570",
        "tags": [
          "IDOTA2Match_570"
        ],
        "parameters": [
          {
            "name": "partner",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Which partner's games to use."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IDOTA2Match_570/GetTopWeekendTourneyGames/v1": {
      "get": {
        "operationId": "IDOTA2Match_570_GetTopWeekendTourneyGames",
        "summary": "GetTopWeekendTourneyGames operation of IDOTA2Match_570",
        "tags": [
          "IDOTA2Match_570"
        ],
        "parameters": [
          {
            "name": "partner",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Which partner's games to use."
          },
          {
            "name": "home_division",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Prefer matches from this division."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IDOTA2Match_570/GetTournamentPlayerStats/v1": {
      "get": {
        "operationId": "IDOTA2Match_570_GetTournamentPlayerStats",
        "summary": "GetTournamentPlayerStats operation of IDOTA2Match_570",
        "tags": [
          "IDOTA2Match_570"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "league_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hero_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_frame",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "match_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IDOTA2Match_570/GetTournamentPlayerStats/v2": {
      "get": {
        "operationId": "IDOTA2Match_570_GetTournamentPlayerStats",
        "summary": "GetTournamentPlayerStats operation of IDOTA2Match_570",
        "tags": [
          "IDOTA2Match_570"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "league_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hero_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_frame",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "match_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "phase_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IDOTA2StreamSystem_570/GetBroadcasterInfo/v1": {
      "get": {
        "operationId": "IDOTA2StreamSystem_570_GetBroadcasterInfo",
        "summary": "GetBroadcasterInfo operation of IDOTA2StreamSystem_570",
        "tags": [
          "IDOTA2StreamSystem_570"
        ],
        "parameters": [
          {
            "name": "broadcaster_steam_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "64-bit Steam ID of the broadcaster"
          },
          {
            "name": "league_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "LeagueID to use if we aren't in a lobby"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IDOTA2Ticket_570/GetSteamIDForBadgeID/v1": {
      "get": {
        "operationId": "IDOTA2Ticket_570_GetSteamIDForBadgeID",
        "summary": "GetSteamIDForBadgeID operation of IDOTA2Ticket_570",
        "tags": [
          "IDOTA2Ticket_570"
        ],
        "parameters": [
          {
            "name": "BadgeID",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The badge ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IDOTA2Ticket_570/SetSteamAccountPurchased/v1": {
      "post": {
        "operationId": "IDOTA2Ticket_570_SetSteamAccountPurchased",
        "summary": "SetSteamAccountPurchased operation of IDOTA2Ticket_570",
        "tags": [
          "IDOTA2Ticket_570"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "steamid": {
                    "type": "integer",
                    "description": "The 64-bit Steam ID"
                  },
                  "BadgeType": {
                    "type": "integer",
                    "description": "Badge Type"
                  }
                },
                "required": [
                  "steamid",
                  "BadgeType"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IDOTA2Ticket_570/SteamAccountValidForBadgeType/v1": {
      "get": {
        "operationId": "IDOTA2Ticket_570_SteamAccountValidForBadgeType",
        "summary": "SteamAccountValidForBadgeType operation of IDOTA2Ticket_570",
        "tags": [
          "IDOTA2Ticket_570"
        ],
        "parameters": [
          {
            "name": "steamid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The 64-bit Steam ID"
          },
          {
            "name": "ValidBadgeType1",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Valid Badge Type 1"
          },
          {
            "name": "ValidBadgeType2",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Valid Badge Type 2"
          },
          {
            "name": "ValidBadgeType3",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Valid Badge Type 3"
          },
          {
            "name": "ValidBadgeType4",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Valid Badge Type 4"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IEconDOTA2_570/GetEventStatsForAccount/v1": {
      "get": {
        "operationId": "IEconDOTA2_570_GetEventStatsForAccount",
        "summary": "GetEventStatsForAccount operation of IEconDOTA2_570",
        "tags": [
          "IEconDOTA2_570"
        ],
        "parameters": [
          {
            "name": "eventid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The Event ID of the event you're looking for."
          },
          {
            "name": "accountid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The account ID to look up."
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The language to provide hero names in."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IEconDOTA2_570/GetHeroes/v1": {
      "get": {
        "operationId": "IEconDOTA2_570_GetHeroes",
        "summary": "GetHeroes operation of IEconDOTA2_570",
        "tags": [
          "IEconDOTA2_570"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The language to provide hero names in."
          },
          {
            "name": "itemizedonly",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Return a list of itemized heroes only."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IEconDOTA2_570/GetItemCreators/v1": {
      "get": {
        "operationId": "IEconDOTA2_570_GetItemCreators",
        "summary": "GetItemCreators operation of IEconDOTA2_570",
        "tags": [
          "IEconDOTA2_570"
        ],
        "parameters": [
          {
            "name": "itemdef",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The item definition to get creator information for."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IEconDOTA2_570/GetItemWorkshopPublishedFileIDs/v1": {
      "get": {
        "operationId": "IEconDOTA2_570_GetItemWorkshopPublishedFileIDs",
        "summary": "GetItemWorkshopPublishedFileIDs operation of IEconDOTA2_570",
        "tags": [
          "IEconDOTA2_570"
        ],
        "parameters": [
          {
            "name": "itemdef",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The item definition to get published file ids for."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IEconDOTA2_570/GetRarities/v1": {
      "get": {
        "operationId": "IEconDOTA2_570_GetRarities",
        "summary": "GetRarities operation of IEconDOTA2_570",
        "tags": [
          "IEconDOTA2_570"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The language to provide rarity names in."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IEconDOTA2_570/GetTournamentPrizePool/v1": {
      "get": {
        "operationId": "IEconDOTA2_570_GetTournamentPrizePool",
        "summary": "GetTournamentPrizePool operation of IEconDOTA2_570",
        "tags": [
          "IEconDOTA2_570"
        ],
        "parameters": [
          {
            "name": "leagueid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the league to get the prize pool of"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IEconItems_1046930/GetPlayerItems/v1": {
      "get": {
        "operationId": "IEconItems_1046930_GetPlayerItems",
        "summary": "GetPlayerItems operation of IEconItems_1046930",
        "tags": [
          "IEconItems_1046930"
        ],
        "parameters": [
          {
            "name": "steamid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The Steam ID to fetch items for"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IEconItems_1269260/GetEquippedPlayerItems/v1": {
      "get": {
        "operationId": "IEconItems_1269260_GetEquippedPlayerItems",
        "summary": "GetEquippedPlayerItems operation of IEconItems_1269260",
        "tags": [
          "IEconItems_1269260"
        ],
        "parameters": [
          {
            "name": "steamid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The Steam ID to fetch items for"
          },
          {
            "name": "class_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Return items equipped for this class id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IEconItems_440/GetPlayerItems/v1": {
      "get": {
        "operationId": "IEconItems_440_GetPlayerItems",
        "summary": "GetPlayerItems operation of IEconItems_440",
        "tags": [
          "IEconItems_440"
        ],
        "parameters": [
          {
            "name": "steamid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The Steam ID to fetch items for"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IEconItems_440/GetSchema/v1": {
      "get": {
        "operationId": "IEconItems_440_GetSchema",
        "summary": "GetSchema operation of IEconItems_440",
        "tags": [
          "IEconItems_440"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The language to return the names in. Defaults to returning string keys."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IEconItems_440/GetSchemaItems/v1": {
      "get": {
        "operationId": "IEconItems_440_GetSchemaItems",
        "summary": "GetSchemaItems operation of IEconItems_440",
        "tags": [
          "IEconItems_440"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The language to return the names in. Defaults to returning string keys."
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The first item id to return. Defaults to 0. Response will indicate next value to query if applicable."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IEconItems_440/GetSchemaOverview/v1": {
      "get": {
        "operationId": "IEconItems_440_GetSchemaOverview",
        "summary": "GetSchemaOverview operation of IEconItems_440",
        "tags": [
          "IEconItems_440"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The language to return the names in. Defaults to returning string keys."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IEconItems_440/GetSchemaURL/v1": {
      "get": {
        "operationId": "IEconItems_440_GetSchemaURL",
        "summary": "GetSchemaURL operation of IEconItems_440",
        "tags": [
          "IEconItems_440"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IEconItems_440/GetStoreMetaData/v1": {
      "get": {
        "operationId": "IEconItems_440_GetStoreMetaData",
        "summary": "GetStoreMetaData operation of IEconItems_440",
        "tags": [
          "IEconItems_440"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The language to results in."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IEconItems_440/GetStoreStatus/v1": {
      "get": {
        "operationId": "IEconItems_440_GetStoreStatus",
        "summary": "GetStoreStatus operation of IEconItems_440",
        "tags": [
          "IEconItems_440"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IEconItems_570/GetPlayerItems/v1": {
      "get": {
        "operationId": "IEconItems_570_GetPlayerItems",
        "summary": "GetPlayerItems operation of IEconItems_570",
        "tags": [
          "IEconItems_570"
        ],
        "parameters": [
          {
            "name": "steamid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The Steam ID to fetch items for"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IEconItems_570/GetStoreMetaData/v1": {
      "get": {
        "operationId": "IEconItems_570_GetStoreMetaData",
        "summary": "GetStoreMetaData operation of IEconItems_570",
        "tags": [
          "IEconItems_570"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The language to results in."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IEconItems_583950/GetEquippedPlayerItems/v1": {
      "get": {
        "operationId": "IEconItems_583950_GetEquippedPlayerItems",
        "summary": "GetEquippedPlayerItems operation of IEconItems_583950",
        "tags": [
          "IEconItems_583950"
        ],
        "parameters": [
          {
            "name": "steamid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The Steam ID to fetch items for"
          },
          {
            "name": "class_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Return items equipped for this class id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IEconItems_620/GetPlayerItems/v1": {
      "get": {
        "operationId": "IEconItems_620_GetPlayerItems",
        "summary": "GetPlayerItems operation of IEconItems_620",
        "tags": [
          "IEconItems_620"
        ],
        "parameters": [
          {
            "name": "steamid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The Steam ID to fetch items for"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IEconItems_620/GetSchema/v1": {
      "get": {
        "operationId": "IEconItems_620_GetSchema",
        "summary": "GetSchema operation of IEconItems_620",
        "tags": [
          "IEconItems_620"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The language to return the names in. Defaults to returning string keys."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IEconItems_730/GetPlayerItems/v1": {
      "get": {
        "operationId": "IEconItems_730_GetPlayerItems",
        "summary": "GetPlayerItems operation of IEconItems_730",
        "tags": [
          "IEconItems_730"
        ],
        "parameters": [
          {
            "name": "steamid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The Steam ID to fetch items for"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IEconItems_730/GetSchema/v2": {
      "get": {
        "operationId": "IEconItems_730_GetSchema",
        "summary": "GetSchema operation of IEconItems_730",
        "tags": [
          "IEconItems_730"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The language to return the names in. Defaults to returning string keys."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IEconItems_730/GetSchemaURL/v2": {
      "get": {
        "operationId": "IEconItems_730_GetSchemaURL",
        "summary": "GetSchemaURL operation of IEconItems_730",
        "tags": [
          "IEconItems_730"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IEconItems_730/GetStoreMetaData/v1": {
      "get": {
        "operationId": "IEconItems_730_GetStoreMetaData",
        "summary": "GetStoreMetaData operation of IEconItems_730",
        "tags": [
          "IEconItems_730"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The language to results in."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IGCVersion_1046930/GetClientVersion/v1": {
      "get": {
        "operationId": "IGCVersion_1046930_GetClientVersion",
        "summary": "GetClientVersion operation of IGCVersion_1046930",
        "tags": [
          "IGCVersion_1046930"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IGCVersion_1046930/GetServerVersion/v1": {
      "get": {
        "operationId": "IGCVersion_1046930_GetServerVersion",
        "summary": "GetServerVersion operation of IGCVersion_1046930",
        "tags": [
          "IGCVersion_1046930"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IGCVersion_1269260/GetClientVersion/v1": {
      "get": {
        "operationId": "IGCVersion_1269260_GetClientVersion",
        "summary": "GetClientVersion operation of IGCVersion_1269260",
        "tags": [
          "IGCVersion_1269260"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IGCVersion_1269260/GetServerVersion/v1": {
      "get": {
        "operationId": "IGCVersion_1269260_GetServerVersion",
        "summary": "GetServerVersion operation of IGCVersion_1269260",
        "tags": [
          "IGCVersion_1269260"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IGCVersion_1422450/GetClientVersion/v1": {
      "get": {
        "operationId": "IGCVersion_1422450_GetClientVersion",
        "summary": "GetClientVersion operation of IGCVersion_1422450",
        "tags": [
          "IGCVersion_1422450"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IGCVersion_1422450/GetServerVersion/v1": {
      "get": {
        "operationId": "IGCVersion_1422450_GetServerVersion",
        "summary": "GetServerVersion operation of IGCVersion_1422450",
        "tags": [
          "IGCVersion_1422450"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IGCVersion_440/GetClientVersion/v1": {
      "get": {
        "operationId": "IGCVersion_440_GetClientVersion",
        "summary": "GetClientVersion operation of IGCVersion_440",
        "tags": [
          "IGCVersion_440"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IGCVersion_440/GetServerVersion/v1": {
      "get": {
        "operationId": "IGCVersion_440_GetServerVersion",
        "summary": "GetServerVersion operation of IGCVersion_440",
        "tags": [
          "IGCVersion_440"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IGCVersion_570/GetClientVersion/v1": {
      "get": {
        "operationId": "IGCVersion_570_GetClientVersion",
        "summary": "GetClientVersion operation of IGCVersion_570",
        "tags": [
          "IGCVersion_570"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IGCVersion_570/GetServerVersion/v1": {
      "get": {
        "operationId": "IGCVersion_570_GetServerVersion",
        "summary": "GetServerVersion operation of IGCVersion_570",
        "tags": [
          "IGCVersion_570"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IGCVersion_583950/GetClientVersion/v1": {
      "get": {
        "operationId": "IGCVersion_583950_GetClientVersion",
        "summary": "GetClientVersion operation of IGCVersion_583950",
        "tags": [
          "IGCVersion_583950"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IGCVersion_583950/GetServerVersion/v1": {
      "get": {
        "operationId": "IGCVersion_583950_GetServerVersion",
        "summary": "GetServerVersion operation of IGCVersion_583950",
        "tags": [
          "IGCVersion_583950"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IGCVersion_730/GetServerVersion/v1": {
      "get": {
        "operationId": "IGCVersion_730_GetServerVersion",
        "summary": "GetServerVersion operation of IGCVersion_730",
        "tags": [
          "IGCVersion_730"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/IPortal2Leaderboards_620/GetBucketizedData/v1": {
      "get": {
        "operationId": "IPortal2Leaderboards_620_GetBucketizedData",
        "summary": "GetBucketizedData operation of IPortal2Leaderboards_620",
        "tags": [
          "IPortal2Leaderboards_620"
        ],
        "parameters": [
          {
            "name": "leaderboardName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The leaderboard name to fetch data for."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamApps/GetSDRConfig/v1": {
      "get": {
        "operationId": "ISteamApps_GetSDRConfig",
        "summary": "GetSDRConfig operation of ISteamApps",
        "tags": [
          "ISteamApps"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "AppID of game"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamApps/GetServersAtAddress/v1": {
      "get": {
        "operationId": "ISteamApps_GetServersAtAddress",
        "summary": "GetServersAtAddress operation of ISteamApps",
        "tags": [
          "ISteamApps"
        ],
        "parameters": [
          {
            "name": "addr",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "IP or IP:queryport to list"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamApps/UpToDateCheck/v1": {
      "get": {
        "operationId": "ISteamApps_UpToDateCheck",
        "summary": "UpToDateCheck operation of ISteamApps",
        "tags": [
          "ISteamApps"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "AppID of game"
          },
          {
            "name": "version",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The installed version of the game"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamBroadcast/PlayerStats/v1": {
      "post": {
        "operationId": "ISteamBroadcast_PlayerStats",
        "summary": "PlayerStats operation of ISteamBroadcast",
        "tags": [
          "ISteamBroadcast"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamBroadcast/ViewerHeartbeat/v1": {
      "get": {
        "operationId": "ISteamBroadcast_ViewerHeartbeat",
        "summary": "ViewerHeartbeat operation of ISteamBroadcast",
        "tags": [
          "ISteamBroadcast"
        ],
        "parameters": [
          {
            "name": "steamid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Steam ID of the broadcaster"
          },
          {
            "name": "sessionid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Broadcast Session ID"
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Viewer token"
          },
          {
            "name": "stream",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "video stream representation watching"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamCDN/SetClientFilters/v1": {
      "post": {
        "operationId": "ISteamCDN_SetClientFilters",
        "summary": "SetClientFilters operation of ISteamCDN",
        "tags": [
          "ISteamCDN"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "access key"
                  },
                  "cdnname": {
                    "type": "string",
                    "description": "Steam name of CDN property"
                  },
                  "allowedipblocks": {
                    "type": "string",
                    "description": "comma-separated list of allowed IP address blocks in CIDR format - blank for not used"
                  },
                  "allowedasns": {
                    "type": "string",
                    "description": "comma-separated list of allowed client network AS numbers - blank for not used"
                  },
                  "allowedipcountries": {
                    "type": "string",
                    "description": "comma-separated list of allowed client IP country codes in ISO 3166-1 format - blank for not used"
                  }
                },
                "required": [
                  "key",
                  "cdnname"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamCDN/SetPerformanceStats/v1": {
      "post": {
        "operationId": "ISteamCDN_SetPerformanceStats",
        "summary": "SetPerformanceStats operation of ISteamCDN",
        "tags": [
          "ISteamCDN"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "access key"
                  },
                  "cdnname": {
                    "type": "string",
                    "description": "Steam name of CDN property"
                  },
                  "mbps_sent": {
                    "type": "integer",
                    "description": "Outgoing network traffic in Mbps"
                  },
                  "mbps_recv": {
                    "type": "integer",
                    "description": "Incoming network traffic in Mbps"
                  },
                  "cpu_percent": {
                    "type": "integer",
                    "description": "Percent CPU load"
                  },
                  "cache_hit_percent": {
                    "type": "integer",
                    "description": "Percent cache hits"
                  }
                },
                "required": [
                  "key",
                  "cdnname"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamDirectory/GetCMList/v1": {
      "get": {
        "operationId": "ISteamDirectory_GetCMList",
        "summary": "GetCMList operation of ISteamDirectory",
        "tags": [
          "ISteamDirectory"
        ],
        "parameters": [
          {
            "name": "cellid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Client's Steam cell ID"
          },
          {
            "name": "maxcount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Max number of servers to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamDirectory/GetCMListForConnect/v1": {
      "get": {
        "operationId": "ISteamDirectory_GetCMListForConnect",
        "summary": "GetCMListForConnect operation of ISteamDirectory",
        "tags": [
          "ISteamDirectory"
        ],
        "parameters": [
          {
            "name": "cellid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Client's Steam cell ID, uses IP location if blank"
          },
          {
            "name": "cmtype",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional CM type filter"
          },
          {
            "name": "realm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional Steam Realm filter"
          },
          {
            "name": "maxcount",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Max number of servers to return"
          },
          {
            "name": "qoslevel",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Desired connection priority"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamDirectory/GetSteamPipeDomains/v1": {
      "get": {
        "operationId": "ISteamDirectory_GetSteamPipeDomains",
        "summary": "GetSteamPipeDomains operation of ISteamDirectory",
        "tags": [
          "ISteamDirectory"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamEconomy/GetAssetClassInfo/v1": {
      "get": {
        "operationId": "ISteamEconomy_GetAssetClassInfo",
        "summary": "GetAssetClassInfo operation of ISteamEconomy",
        "tags": [
          "ISteamEconomy"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Must be a steam economy app."
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The user's local language"
          },
          {
            "name": "class_count",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Number of classes requested. Must be at least one."
          },
          {
            "name": "classid0",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Class ID of the nth class."
          },
          {
            "name": "instanceid0",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Instance ID of the nth class."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamEconomy/GetAssetPrices/v1": {
      "get": {
        "operationId": "ISteamEconomy_GetAssetPrices",
        "summary": "GetAssetPrices operation of ISteamEconomy",
        "tags": [
          "ISteamEconomy"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Must be a steam economy app."
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The currency to filter for"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The user's local language"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamNews/GetNewsForApp/v1": {
      "get": {
        "operationId": "ISteamNews_GetNewsForApp",
        "summary": "GetNewsForApp operation of ISteamNews",
        "tags": [
          "ISteamNews"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "AppID to retrieve news for"
          },
          {
            "name": "maxlength",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum length for the content to return, if this is 0 the full content is returned, if it's less then a blurb is generated to fit."
          },
          {
            "name": "enddate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Retrieve posts earlier than this date (unix epoch timestamp)"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "# of posts to retrieve (default 20)"
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of tags to filter by (e.g. 'patchnodes')"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamNews/GetNewsForApp/v2": {
      "get": {
        "operationId": "ISteamNews_GetNewsForApp",
        "summary": "GetNewsForApp operation of ISteamNews",
        "tags": [
          "ISteamNews"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "AppID to retrieve news for"
          },
          {
            "name": "maxlength",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum length for the content to return, if this is 0 the full content is returned, if it's less then a blurb is generated to fit."
          },
          {
            "name": "enddate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Retrieve posts earlier than this date (unix epoch timestamp)"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "# of posts to retrieve (default 20)"
          },
          {
            "name": "feeds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of feed names to return news for"
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of tags to filter by (e.g. 'patchnodes')"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamRemoteStorage/GetCollectionDetails/v1": {
      "post": {
        "operationId": "ISteamRemoteStorage_GetCollectionDetails",
        "summary": "GetCollectionDetails operation of ISteamRemoteStorage",
        "tags": [
          "ISteamRemoteStorage"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "collectioncount": {
                    "type": "integer",
                    "description": "Number of collections being requested"
                  },
                  "publishedfileids[0]": {
                    "type": "integer",
                    "description": "collection ids to get the details for"
                  }
                },
                "required": [
                  "collectioncount",
                  "publishedfileids[0]"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamRemoteStorage/GetPublishedFileDetails/v1": {
      "post": {
        "operationId": "ISteamRemoteStorage_GetPublishedFileDetails",
        "summary": "GetPublishedFileDetails operation of ISteamRemoteStorage",
        "tags": [
          "ISteamRemoteStorage"
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "itemcount": {
                    "type": "integer",
                    "description": "Number of items being requested"
                  },
                  "publishedfileids[0]": {
                    "type": "integer",
                    "description": "published file id to look up"
                  }
                },
                "required": [
                  "itemcount",
                  "publishedfileids[0]"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamRemoteStorage/GetUGCFileDetails/v1": {
      "get": {
        "operationId": "ISteamRemoteStorage_GetUGCFileDetails",
        "summary": "GetUGCFileDetails operation of ISteamRemoteStorage",
        "tags": [
          "ISteamRemoteStorage"
        ],
        "parameters": [
          {
            "name": "steamid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "If specified, only returns details if the file is owned by the SteamID specified"
          },
          {
            "name": "ugcid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "ID of UGC file to get info for"
          },
          {
            "name": "appid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "appID of product"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamUser/GetFriendList/v1": {
      "get": {
        "operationId": "ISteamUser_GetFriendList",
        "summary": "GetFriendList operation of ISteamUser",
        "tags": [
          "ISteamUser"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "access key"
          },
          {
            "name": "steamid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "SteamID of user"
          },
          {
            "name": "relationship",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "relationship type (ex: friend)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamUser/GetPlayerBans/v1": {
      "get": {
        "operationId": "ISteamUser_GetPlayerBans",
        "summary": "GetPlayerBans operation of ISteamUser",
        "tags": [
          "ISteamUser"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "access key"
          },
          {
            "name": "steamids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-delimited list of SteamIDs"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamUser/GetPlayerSummaries/v1": {
      "get": {
        "operationId": "ISteamUser_GetPlayerSummaries",
        "summary": "GetPlayerSummaries operation of ISteamUser",
        "tags": [
          "ISteamUser"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "access key"
          },
          {
            "name": "steamids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-delimited list of SteamIDs"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamUser/GetPlayerSummaries/v2": {
      "get": {
        "operationId": "ISteamUser_GetPlayerSummaries",
        "summary": "GetPlayerSummaries operation of ISteamUser",
        "tags": [
          "ISteamUser"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "access key"
          },
          {
            "name": "steamids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Comma-delimited list of SteamIDs (max: 100)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamUser/GetUserGroupList/v1": {
      "get": {
        "operationId": "ISteamUser_GetUserGroupList",
        "summary": "GetUserGroupList operation of ISteamUser",
        "tags": [
          "ISteamUser"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "access key"
          },
          {
            "name": "steamid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "SteamID of user"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamUser/ResolveVanityURL/v1": {
      "get": {
        "operationId": "ISteamUser_ResolveVanityURL",
        "summary": "ResolveVanityURL operation of ISteamUser",
        "tags": [
          "ISteamUser"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "access key"
          },
          {
            "name": "vanityurl",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The vanity URL to get a SteamID for"
          },
          {
            "name": "url_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The type of vanity URL. 1 (default): Individual profile, 2: Group, 3: Official game group"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamUserAuth/AuthenticateUserTicket/v1": {
      "get": {
        "operationId": "ISteamUserAuth_AuthenticateUserTicket",
        "summary": "AuthenticateUserTicket operation of ISteamUserAuth",
        "tags": [
          "ISteamUserAuth"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "access key"
          },
          {
            "name": "appid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "appid of game"
          },
          {
            "name": "ticket",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Ticket from GetAuthSessionTicket."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamUserOAuth/GetTokenDetails/v1": {
      "get": {
        "operationId": "ISteamUserOAuth_GetTokenDetails",
        "summary": "GetTokenDetails operation of ISteamUserOAuth",
        "tags": [
          "ISteamUserOAuth"
        ],
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "OAuth2 token for which to return details"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamUserStats/GetGlobalAchievementPercentagesForApp/v1": {
      "get": {
        "operationId": "ISteamUserStats_GetGlobalAchievementPercentagesForApp",
        "summary": "GetGlobalAchievementPercentagesForApp operation of ISteamUserStats",
        "tags": [
          "ISteamUserStats"
        ],
        "parameters": [
          {
            "name": "gameid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GameID to retrieve the achievement percentages for"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamUserStats/GetGlobalAchievementPercentagesForApp/v2": {
      "get": {
        "operationId": "ISteamUserStats_GetGlobalAchievementPercentagesForApp",
        "summary": "GetGlobalAchievementPercentagesForApp operation of ISteamUserStats",
        "tags": [
          "ISteamUserStats"
        ],
        "parameters": [
          {
            "name": "gameid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "GameID to retrieve the achievement percentages for"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamUserStats/GetGlobalStatsForGame/v1": {
      "get": {
        "operationId": "ISteamUserStats_GetGlobalStatsForGame",
        "summary": "GetGlobalStatsForGame operation of ISteamUserStats",
        "tags": [
          "ISteamUserStats"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "AppID that we're getting global stats for"
          },
          {
            "name": "count",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Number of stats get data for"
          },
          {
            "name": "name[0]",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Names of stat to get data for"
          },
          {
            "name": "startdate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Start date for daily totals (unix epoch timestamp)"
          },
          {
            "name": "enddate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "End date for daily totals (unix epoch timestamp)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamUserStats/GetNumberOfCurrentPlayers/v1": {
      "get": {
        "operationId": "ISteamUserStats_GetNumberOfCurrentPlayers",
        "summary": "GetNumberOfCurrentPlayers operation of ISteamUserStats",
        "tags": [
          "ISteamUserStats"
        ],
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "AppID that we're getting user count for"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamUserStats/GetPlayerAchievements/v1": {
      "get": {
        "operationId": "ISteamUserStats_GetPlayerAchievements",
        "summary": "GetPlayerAchievements operation of ISteamUserStats",
        "tags": [
          "ISteamUserStats"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "access key"
          },
          {
            "name": "steamid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "SteamID of user"
          },
          {
            "name": "appid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "AppID to get achievements for"
          },
          {
            "name": "l",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Language to return strings for"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/ISteamUserStats/GetSchemaForGame/v1": {
      "get": {
        "operationId": "ISteamUserStats_GetSchemaForGame",
        "summary": "GetSchemaForGame operation of ISteamUserStats",
        "tags": [
          "ISteamUserStats"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
[...]
